body {
  font-family: "poppins", sans-serif;
  background-color: #f9f7fe;
}

h1 {
  font-size: 50px;
  padding: 20px;
  padding-top: 30px;
  padding-left: 0px;
  line-height: 28px;
  font-weight: 300;
  margin: 0;
  margin-left: 42px;
}

p {
  color: #c9c7cf;
}

ul {
  margin: 0 0 10px;
  padding: 10px;
}

li {
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
  margin-left: 35px;
  color: #c9c7cf;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #885df1;
}
a:hover {
  text-decoration: underline;
  color: #885df1;
}

.container {
  padding-top: 30px;
}

.weather-app {
  border-radius: 25px;
  max-width: 700px;
  margin: 30px auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 9px 9px 24px 9px #13223811;
  font-family: "Quicksand", sans-serif;
}

.weather-icon {
  height: 64px;
  width: 64px;
  vertical-align: top;
}

#temperature {
  font-size: 70px;
  font-weight: 400;
  text-align: left;
  line-height: 1;
}

.units {
  position: relative;
  top: -36px;
  font-size: 14px;
}

.clearfix {
  margin-left: 35px;
}

#feels-like,
#Humidity,
#wind {
  margin-left: 70px;
  color: #787878;
}

.weather-forecast-date {
  font-size: 17px;
}

#forecast {
  margin-top: 40px;
  text-align: center;
  padding: 10px;
  margin-left: 50px;
}

.submitPin {
  display: block;
  margin: 0 auto;
  text-align: right;
}

.img-forecast-sm {
  padding: 0.5rem 0 1rem;
  width: 50px;
}

.githubLink {
  text-align: center;
}
